/* See http://icnfnt.com/
*/


/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.iw * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.delay-display{display:none;}


.cycle-slideshow { width: 45%; min-width: 200px; max-width: 500px; margin: 10px auto; padding: 0; 
    position: relative;
 }

 .iw-series-cycle2, .cycle-slideshow {
    background: url(images/spinner.gif) 50% 50% no-repeat;
    /*max-width:100%;*/
 }


 .iw-topbar{
    font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial;
    width: 100%; z-index: 500; position: absolute; top: 0px;

    padding:8px;
    padding-bottom:0px;
    color:white;

    text-shadow: -1px 1px 6px #000, 1px -1px 6px #000;
    font-weight:normal;
    font-size:inherit;
 }

 .iw-time{
    position:absolute;
    top:8px;
    right:8px;
 }
 .iw-frame-index{
    position:absolute;
    top:30px;
    right:8px;
    font-size:8pt;
 }

 .iw-subtitle{
    font-size:0.9em;
 }

.iw-controls{
    padding-top:8px;
    text-align:center;

    text-shadow:
     2px 2px 8px gray;
}

.iw-pauseplay, .iw-prev, .iw-next{
    cursor: pointer; 
    padding:8px;
    padding-left:20px;
    padding-right:20px;
}

.iw-prev{ 
    padding-right:50px;
}
.iw-next{
    padding-left:50px;
}
.iw-pauseplay{
    padding-left:50px;
    padding-right:50px;
}

.iw-series-cycle2 .iw-pauseplay:before      { content: "\f04c"; }
.cycle-paused .iw-pauseplay:before       { content: "\f04b"; }



/* 
    media queries 
    some style overrides to make things more pleasant on mobild devices
*/

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
    .iw-series-cycle2{
       /* width:100%;*/
    }

}





